<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Ionic</h2>

    <div class="row">
      <div class="col col-100">
        <label class="item item-input">
          <input type="text" placeholder="Name" ng-model="data.person">
        </label>
      </div>
    </div>
   <div class="row">
     <div class="col col-100">
       <button class="button button-balanced button-full" ng-click="addData()">Add</button>
     </div>
   </div>

    <div class="row">
      <div class="col col-100">
        <button class="button button-balanced button-full" ng-click="loadData()">Load</button>
        <div class="item-text-wrap">
          <div class="row" ng-repeat="data in dataLoaded">
            <div class="col col-5">
              {{data.id}}
            </div>
            <div class="col col-55">
              {{data.name}}
            </div>
            <div class="col col-20">
              <button class="button button-balanced button-full" ng-click="delete(data)">Delete</button>
            </div>
            <div class="col col-20">
              <button class="button button-balanced button-full" ng-click="update($index)">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
